<h1 class="title">Login Here:</h1>
<br><br><br>
<form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
    <label class="arguments" >Username <input type="text" name="username" class="textbox"></label>
    <br>
    <label class="arguments" >Password: <input type="password" name="password" class="textbox"></label>
    <br>
        <button type="submit" value="Submit" id="submit-btn" >Login!</button>

</form>

